body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face { font-family: lacosta; src: url('./Fonts/lacosta/Lacosta_PERSONAL_USE_ONLY.ttf'); }
@font-face { font-family: samosan; src: url('./Fonts/samosan/samosan.ttf'); }
@font-face { font-family: nixie; src: url('./Fonts/nixie_one/NixieOne.ttf'); }
* {
  box-sizing: border-box;
}
.container-fluid{
  padding: 0px !important;
  margin-top: 56px; /* Allow for header height */
  position: relative;
}
.container {
  margin-top: 56px;
  position: relative;
  min-height: calc(100vh - 2.5rem); /*Minus height of footer*/
}
.content_wrapper {
  background-image: linear-gradient(to bottom right, #0093E9, #80D0C7);
  margin: auto;
  padding: 100px;
}
.splash_content {
  padding: 25px;
  border-radius: 25px;
  background-color: white;
  margin: auto;
  width: 80%;
}

/* Adjust for mobile/smaller screen
@media screen and (max-width: 554px) {
  .container { padding-top: 80px; }
} */

.footer {
  position: absolute;
  bottom:0;
  display:block;
  height: 2.5rem;
}

.sign_up_form, .sign_up_form input{
  border-radius: 25px;
  border: 2px solid #3366ff;
  padding: 20px;
}

.white {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.sign_in_button {
  background-image: linear-gradient(to bottom right, #3778ad, #617ef2);
  border: 1px solid #3366ff;
  border-radius: 25px;
  font-family: samosan, sans-serif;
}

#sign_in_title {
  font-family: nixie, sans-serif;
  font-size: 88px;
  background: linear-gradient(to bottom right, #0093E9, #80D0C7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sign_in_label {
  margin-top: 1.5em;
  color: #3366ff;
}

#rounded_select {
  border-radius: 25px;
  border: 2px solid #3366ff;
}

