body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 56px;
  position: relative;
  min-height: calc(100vh - 2.5rem); /* Minus height of footer */
}

/* Adjust for mobile/smaller screen
@media screen and (max-width: 554px) {
  .container { padding-top: 80px; }
} */

.footer {
  position: absolute;
  bottom:0;
  display:block;
  height: 2.5rem;
}

.splash_content {
  background-color: lightgrey;
  text-align: center;
  padding: 25px;
}